<launch>
    <arg name="awtube_size" default="L" />

    <include if="$(eval awtube_size == 'L')" file="$(find awtube31814v2_moveit_config)/launch/demo.launch" />

    <include if="$(eval awtube_size == 'M')" file="$(find awtube31210v1_moveit_config)/launch/demo.launch" />

    <include if="$(eval awtube_size == 'S')" file="$(find awtube30808v1_moveit_config)/launch/demo.launch" />

    <node name="awtube_test" pkg="awtube_test" type="cartesian_coords_test" output="screen" />

</launch>