<launch>
    <arg name="awtube_size" default="L" />
    <arg name="sim" default="true" />

    <include file="$(find awtube_test)/launch/move_test.launch">
        <arg name="awtube_size" value="$(arg awtube_size)" />
        <arg name="sim" value="$(arg sim)" />
    </include>
    
    <node name="awtube_test" pkg="awtube_test" type="joint_position_test" output="screen" />

</launch>